* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la pagina index */
header {
    background-color: #525252; 
    color: white;
    padding: 10px 5%; 
}

.div {
    display: flex;
    justify-content: space-between; 
    align-items: center;          
}

.usuario {
    display: flex;
    align-items: center;
    gap: 15px;
}

.usuario img {
    width: 50px;
    height: auto;
}

.logo a{
    color: white;
    text-decoration: none;
}

.contenido-flex {
    display: flex; 
    min-height: 100vh; 
}

aside {
    padding: 25px;
    width: 250px;      
    background-color: darkgrey;
    padding: 20px;
}

aside a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 30px;
}

.main-index {
    flex: 1;          
    padding: 20px;
    background-color: white;
}

/* fin del index */

/* inicio del gfooter */
/* FOOTER: NO MODIFICAR SIN PREGUNTAR ANTES */
footer {
    background-color: #525252;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.logo-footer,
.contacto,
.avisos {
    margin-bottom: 10px;
    text-align: center;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-footer p {
    font-size: 1rem !important;
    color: var(--blanco);
}

/* Redes en una fila completa */
.social-links {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.social-links img {
    width: 40px;
    height: 40px;
}

.social-links li {
    list-style: none;
}

.contacto h3 {
    color: var(--blanco);
}

.legal-links {
    color: var(--blanco);
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.legal-links li {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.legal-links a {
    color: white;
    text-decoration: none;
}

.legal-links a:hover {
    color: var(--procederPago);
}

/* fin del footer */


/* inicio del login*/

.login-register{
   text-align: center;
}

.login-register a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.top-contenedor {
    display: grid;
    grid-template-columns: 100px 1fr 100px; 
    grid-template-rows: auto;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.top-contenedor img {
    width: 65px;
    height: auto;
    grid-column: 1; 
}

.top-contenedor h1 {
    grid-column: 2;
    text-align: center;
    margin: 0;
}

.login-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 50vh;        
    padding: 20px;
    margin-bottom: 45px;
}

.login-box {
    background-color: white;
    border: 3px solid black; 
    padding: 40px;
    width: 100%;
    max-width: 400px;        
    box-shadow: 8px 8px 0px rgba(0,0,0,0.1); 
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 8px;
    font-weight: bold;
    font-family: sans-serif;
}

.input-stroke {
    padding: 12px;
    border: 2px solid black;
    outline: none;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    width: 100%;
    padding: 12px;
    background-color: #6189F8;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box; 
}

.form-login h3{
    padding-top: 15px;
}

/* fin del login */

/*inicio del perfil de usuario*/
.top-contenedor .perfil-img{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

/*fin del perfil de usuario*/

/*inicio catalogo*/
.catalogo-wrap {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 50vh;        
    padding: 20px;
    margin-bottom: 45px;
}

.tabla-productos {
    grid-column: 2;
    grid-row: 2;
    justify-self: center; 
    align-self: center;
    border-collapse: collapse;
    width: 90%;           
    max-width: 800px;      
    border: 3px solid #333; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
    background-color: white;
}

.tabla-productos th {
    background-color: #333; 
    color: white;
    padding: 15px;
    border: 2px solid #333;
}

.tabla-productos td {
    padding: 15px;
    border: 2px solid #bbb; 
    text-align: center;    
}

.tabla-productos tr:hover {
    background-color: #f9f9f9;
}


.contenedor-botones {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.btn-estilo {
    text-decoration: none;   
    color: #333;           
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;       
    border: 2px solid #333;  
    border-radius: 50px;    
    transition: all 0.3s ease;
    display: inline-block;
    background-color: white;
}

.tabla-productos tr:nth-child(even) {
    background-color: #f2f2f2; 
    
}

/*fin catalogo*/